body{
    background-image: url("images/Curb.jpg");
    
};

.jumbotron{
    background-color: #00bcd4d1 !important;
    
}

.transparent-background{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 100%;
    overflow: hidden;
}
